html, body, .container-fluid {
    height: 102%;
    position: relative;
  }
body {
  padding-top:0;
  padding-bottom: 40px;
}
.container-fluid {
  padding-left:0;
  padding-right: 0;
}
.row {
  margin-right:0;
  margin-left:0;
}
.titleRow {
  height: 100%;
}
.titleHolder {
  width:100%;
  height:95%;
  text-align: center;
  background-color:#B7C11E;
  display: table;
}
.titleContent {
  color: #F5F5F5;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Exo', sans-serif;
}
.me {
  font-size:4em;
  letter-spacing: 0.1em;
}
.socialMedia {
  padding-right: 8px;
  color: #F5F5F5;
}
.socialMedia:hover {
  color: #23A38F;
  text-decoration: none;
}
.triangle {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #B7C11E;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -15px;
  left: 49%;
  z-index: 2;
}
.toc-row {
  margin-top: 41px;
}
.toc {
  text-align: center;
  padding:20px;
  margin-top:-40px;
  background-color: #ffffff;
  color:#bbb;
}
.toc:hover {
  color: #23A38F;
  cursor: pointer;
}
.toc > a {
  color: #bbb;
}
.toc > a:hover {
  color: #23A38F;
  text-decoration: none;
}
.category {
  height: 315px;
  display: table;
}
.categoryTitle  {
  padding: 30px 20px;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Exo', sans-serif;
  letter-spacing: 5px;
}
.whitesmoke {
  color: #F5F5F5;
}
.projects {
  background-color: #589494;
}
.project {
  background-color: rgb(88, 148, 148);
  background-color: rgba(88, 148, 148, 0.8);
  background-repeat: repeat-x;
}
.projectContainer {
  background-color: rgb(88, 148, 148);
  background-color: rgba(88, 148, 148, 0.7);
  padding: 60px;
  margin-left: -15px;
  margin-right: -15px;
}
.projTitle > a {
  color: #F5F5F5;
}
.projTitle > a:hover {
  color: #F5F5F5;
  text-decoration: none;
}
.presentations {
  background-color: #206978;
}
.presentationContainer {
  background-color: rgb(32, 105, 120);
  background-color: rgba(32, 105, 120, 0.8);
  padding: 60px;
  margin-left: -15px;
  margin-right: -15px;
}
.presentationTitle > a {
  color: #F5F5F5;
}
.presentationTitle > a:hover {
  color: #F5F5F5;
  text-decoration: none;
}
.resumes {
  background-color: rgb(120,32,61);
}
.resume-title {
  padding: 30px 20px;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Exo', sans-serif;
  letter-spacing: 5px;
}
.resume-title > a {
  color: #ffffff;
  letter-spacing: normal;
  margin-right: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.resume {
  background-color: rgb(120,32,61);
  background-color: rgba(120,32,61, 0.8);
  color: #fff;
  font-weight: 200;
  letter-spacing: 1px;
}

.resumeContainer {
  padding: 60px;
  margin-left: -15px;
  margin-right: -15px;
}
.resumeContainer > a {
  color: #333;
  display: inline-block;
  margin-right: 20px;
}
.resumeSection {
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  padding-top: 20px;
}
.resumeItemContainer {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.1);
  padding: 25px;
  margin-bottom: 15px;
}
.resumeItemContainerTitle {
  font-size: 18px;
  color: #f2f2f2;
  font-weight: 300;
  margin-bottom: 0;
}
.resumeItemContainerSubtitle {
  margin-left: 12px;
  font-weight: 600;
}
.poster {
  color: #333;
}
.no-list {
  list-style: none;
}

@media(max-width: 3000px) {
  .projectContainer {
    padding: 60px;
  }
  .rockd-mobile {
    background-image:url('/img/high/rockd-mobile.jpg');;
  }
  .rockd-web {
    background-image:url('/img/high/rockd-web.jpg');;
  }
  .rockd-site {
    background-image:url('/img/high/rockd-site.jpg');;
  }
  .geodeepdive {
    background-image:url('/img/high/geodeepdive.org.jpg');;
  }
  .macrostrat_home {
    background-image:url('/img/high/macrostrat_home.jpg');;
  }
  .sift {
    background-image:url('/img/high/sift.jpg');;
  }
  .gmna {
    background-image:url('/img/high/gmna.jpg');;
  }
  .macrostrat-api {
    background-image:url('/img/high/macrostrat_api.jpg');;
  }
  .busmsn {
    background-image:url('/img/high/busmsn.jpg');;
  }
  .navigator {
    background-image: url('/img/high/navigator.jpg');
  }
  .team_usa_sochi {
    background-image: url('/img/high/team_usa_sochi.jpg');
  }
  .macrostrat_map {
    background-image:url('/img/high/macrostrat.jpg');
  }
  .paleobiodb {
    background-image:url('/img/high/paleobiodb.jpg');
  }
  .pioneer {
    background-image:url('/img/high/pioneer.jpg');
  }
  .acmp {
    background-image:url('/img/high/acmp.jpg');
  }
  .michigan_basin {
    background-image:url('/img/high/michigan_basin.jpg');
  }
  .webmap_template_eia {
    background-image:url('/img/high/webmap_template_eia.jpg');
  }
  .webmap_template_corridors {
    background-image:url('/img/high/webmap_template_corridors.jpg');
  }
  .ecycle {
    background-image:url('/img/high/ecycle.jpg');
  }
  .subway {
    background-image:url('/img/high/subway.jpg');
  }
  .pronounce {
    background-image:url('/img/high/pronounce.jpg');
  }
  .dlccc {
    background-image:url('/img/high/dlccc.jpg');
  }
  .frac_sands {
    background-image:url('/img/high/frac_sands.jpg');
  }
  .policy {
    background-image:url('/img/high/policy.jpg');
  }
  .renewable {
    background-image:url('/img/high/renewable.jpg');
  }
  .team_usa_london {
    background-image:url('/img/high/team_usa_london.jpg');
  }
  .cashfree {
    background-image:url('/img/high/cashfree.jpg');
  }
  .federal_spending {
    background-image:url('/img/high/federal_spending.jpg');
  }
  .hoofermountaineering {
    background-image:url('/img/high/hoofermountaineering.jpg');
  }
  .jmt {
    background-image:url('/img/high/jmt.jpg');
  }
  .dl_bouldering {
    background-image:url('/img/high/dl_bouldering.jpg');
  }
  .europe {
    background-image:url('/img/high/europe.jpg');
  }
  .obesity {
    background-image:url('/img/high/obesity.jpg');
  }
}
@media(max-width: 1450px) {
  .rockd-mobile {
    background-image:url('/img/medium/rockd-mobile.jpg');;
  }
  .rockd-web {
    background-image:url('/img/medium/rockd-web.jpg');;
  }
  .rockd-site {
    background-image:url('/img/medium/rockd-site.jpg');;
  }
  .geodeepdive {
    background-image:url('/img/medium/geodeepdive.org.jpg');;
  }
  .macrostrat_home {
    background-image:url('/img/high/macrostrat_home.jpg');;
  }
  .sift {
    background-image:url('/img/high/sift.jpg');;
  }
  .gmna {
    background-image:url('/img/medium/gmna.jpg');;
  }
  .macrostrat-api {
    background-image:url('/img/medium/macrostrat_api.jpg');;
  }
  .busmsn {
    background-image:url('/img/medium/busmsn.jpg');;
  }
  .navigator {
    background-image: url('/img/medium/navigator.jpg');
  }
  .team_usa_sochi {
    background-image: url('/img/medium/team_usa_sochi.jpg');
  }
  .macrostrat_map {
    background-image:url('/img/medium/macrostrat.jpg');
  }
  .paleobiodb {
    background-image:url('/img/medium/paleobiodb.jpg');
  }
  .pioneer {
    background-image:url('/img/medium/pioneer.jpg');
  }
  .acmp {
    background-image:url('/img/medium/acmp.jpg');
  }
  .michigan_basin {
    background-image:url('/img/medium/michigan_basin.jpg');
  }
  .webmap_template_eia {
    background-image:url('/img/medium/webmap_template_eia.jpg');
  }
  .webmap_template_corridors {
    background-image:url('/img/medium/webmap_template_corridors.jpg');
  }
  .ecycle {
    background-image:url('/img/medium/ecycle.jpg');
  }
  .subway {
    background-image:url('/img/medium/subway.jpg');
  }
  .pronounce {
    background-image:url('/img/medium/pronounce.jpg');
  }
  .dlccc {
    background-image:url('/img/medium/dlccc.jpg');
  }
  .frac_sands {
    background-image:url('/img/medium/frac_sands.jpg');
  }
  .policy {
    background-image:url('/img/medium/policy.jpg');
  }
  .renewable {
    background-image:url('/img/medium/renewable.jpg');
  }
  .team_usa_london {
    background-image:url('/img/medium/team_usa_london.jpg');
  }
  .cashfree {
    background-image:url('/img/medium/cashfree.jpg');
  }
  .federal_spending {
    background-image:url('/img/medium/federal_spending.jpg');
  }
  .hoofermountaineering {
    background-image:url('/img/medium/hoofermountaineering.jpg');
  }
  .jmt {
    background-image:url('/img/medium/jmt.jpg');
  }
  .dl_bouldering {
    background-image:url('/img/medium/dl_bouldering.jpg');
  }
  .europe {
    background-image:url('/img/medium/europe.jpg');
  }
  .obesity {
    background-image:url('/img/medium/obesity.jpg');
  }
}
@media(max-width: 900px) {
  .projectContainer {
    padding: 14px 25px;
  }
  .rockd-mobile {
    background-image:url('/img/low/rockd-mobile.jpg');;
  }
  .rockd-web {
    background-image:url('/img/low/rockd-web.jpg');;
  }
  .rockd-site {
    background-image:url('/img/low/rockd-site.jpg');;
  }
  .geodeepdive {
    background-image:url('/img/low/geodeepdive.org.jpg');;
  }
  .macrostrat_home {
    background-image:url('/img/low/macrostrat_home.jpg');;
  }
  .sift {
    background-image:url('/img/low/sift.jpg');;
  }
  .gmna {
    background-image:url('/img/low/gmna.jpg');;
  }
  .macrostrat-api {
    background-image:url('/img/low/macrostrat_api.jpg');;
  }
  .busmsn {
    background-image:url('/img/low/busmsn.jpg');;
  }
  .navigator {
    background-image: url('/img/low/navigator.jpg');
  }
  .team_usa_sochi {
    background-image: url('/img/low/team_usa_sochi.jpg');
  }
  .macrostrat_map {
    background-image:url('/img/low/macrostrat.jpg');
  }
  .paleobiodb {
    background-image:url('/img/low/paleobiodb.jpg');
  }
  .pioneer {
    background-image:url('/img/low/pioneer.jpg');
  }
  .acmp {
    background-image:url('/img/low/acmp.jpg');
  }
  .michigan_basin {
    background-image:url('/img/low/michigan_basin.jpg');
  }
  .webmap_template_eia {
    background-image:url('/img/low/webmap_template_eia.jpg');
  }
  .webmap_template_corridors {
    background-image:url('/img/low/webmap_template_corridors.jpg');
  }
  .ecycle {
    background-image:url('/img/low/ecycle.jpg');
  }
  .subway {
    background-image:url('/img/low/subway.jpg');
  }
  .pronounce {
    background-image:url('/img/low/pronounce.jpg');
  }
  .dlccc {
    background-image:url('/img/low/dlccc.jpg');
  }
  .frac_sands {
    background-image:url('/img/low/frac_sands.jpg');
  }
  .policy {
    background-image:url('/img/low/policy.jpg');
  }
  .renewable {
    background-image:url('/img/low/renewable.jpg');
  }
  .team_usa_london {
    background-image:url('/img/low/team_usa_london.jpg');
  }
  .cashfree {
    background-image:url('/img/low/cashfree.jpg');
  }
  .federal_spending {
    background-image:url('/img/low/federal_spending.jpg');
  }
  .hoofermountaineering {
    background-image:url('/img/low/hoofermountaineering.jpg');
  }
  .jmt {
    background-image:url('/img/low/jmt.jpg');
  }
  .dl_bouldering {
    background-image:url('/img/low/dl_bouldering.jpg');
  }
  .europe {
    background-image:url('/img/low/europe.jpg');
  }
  .obesity {
    background-image:url('/img/low/obesity.jpg');
  }
}
@media(max-width: 675px) {
  .toc-title {
    font-size: 20px;
  }
  .categoryTitle{
    font-size: 26px;
    padding: 30px 0;
  }
  .resume-title > a {
    display: none;
  }
}
@media(max-width: 505px) {
  .categoryTitle {
    font-size: 22px;
    padding: 30px 0;
  }
}
@media(max-width: 475px) {
  .toc {
    padding: 20px 8px;
  }
  .toc-title {
    font-size: 15px;
  }
  .projTitle {
    font-size: 21px;
  }
  .projectContainer {
    padding: 9px 25px;
  }
  .me {
    font-size: 3em;
  }
  .presentationContainer {
    padding: 30px;
  }
  .resumeContainer {
    padding: 20px;
  }
}
