html, body, .container-fluid {
    height: 102%;
    position: relative;
  }
.body {
  padding-top:0;
  padding-bottom: 10px;
}
.container-fluid {
  padding-left:0;
  padding-right: 0;
}
.row {
  margin-right:0;
  margin-left:0;
}
.titleRow {
  height: 100%;
  background-color: #909A25;
}
.titleHolder {
  width:100%;
  height:95%;
  text-align: center;
  background-color:#8D1A14;
  display: table;
}
.titleContent {
  color: #F5F5F5;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Exo', sans-serif;
}
.me {
  font-size:4em;
  letter-spacing: 0.1em;
}
.socialMedia {
  padding-right: 8px;
  color: #F5F5F5;
}
.socialMedia:hover {
  color: #23A38F;
  text-decoration: none;
}
.triangle {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #400603;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -15px;
  left: 49%;
  z-index: 2;
}
.toc-row {
  margin-top: 21px;
}
.toc {
  text-align: center;
  padding:20px;
  margin-top:-40px;
  background-color: #909A25;
  color:#F5F5F5;
}
.toc:hover {
  color: #04305A;
  cursor: pointer;
}
.toc > a {
  color: #F5F5F5;
}
.toc > a:hover {
  color: #04305A;
  text-decoration: none;
}
.category {
  height: 100px;
  display: table;
}
.categoryTitle  {
  padding: 30px 20px;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Exo', sans-serif;
  letter-spacing: 5px;
}
.whitesmoke {
  color: #F5F5F5;
}
.projects {
  background-color: #147AD9;
}
.project {
  background-color: rgb(20, 122, 217);
  background-color: rgba(20, 122, 217, 0.8);
  background-repeat: no-repeat;
  object-fit: contain;
}
.projectContainer {
  background-color: rgb(20, 122, 217);
  background-color: rgba(20, 122, 217, 0.6);
  padding: 60px;
  margin-left: 0px;
  margin-right: 0px;
}

.projTitle > a {
  color: #F5F5F5;
}
.projTitle > a:hover {
  color: #F5F5F5;
  text-decoration: none;
}

.poster {
  color: #333;
}
.footer {
  background-color: #04305A;
  padding: 60px;
  margin-left: 0px;
  margin-right: 0px;
}
.no-list {
  list-style: none;
}

@media(max-width: 3000px) {
  .projectContainer {
    padding: 60px;
  }
  .polyHXpic {
	background-image:url('/img/high/hx_airfoil.png');;
	  object-fit: cover;
  }
  .rockd-mobile {
    background-image:url('/img/high/rockd-mobile.jpg');;
  }
  
}
@media(max-width: 1450px) {
  .polyHXpic {
	background-image:url('/img/high/hx_airfoil.png');;
	  object-fit: cover;
  }
  .rockd-mobile {
    background-image:url('/img/medium/rockd-mobile.jpg');;
  }
  
}
@media(max-width: 900px) {
  .projectContainer {
    padding: 14px 25px;
  }
  .polyHXpic {
	background-image:url('/img/high/hx_airfoil.png');;
	  object-fit: cover;
  }
  .rockd-mobile {
    background-image:url('/img/low/rockd-mobile.jpg');;
  }
  
}
@media(max-width: 675px) {
  .toc-title {
    font-size: 20px;
  }
  .categoryTitle{
    font-size: 26px;
    padding: 30px 0;
  }
  .resume-title > a {
    display: none;
  }
}
@media(max-width: 505px) {
  .categoryTitle {
    font-size: 22px;
    padding: 30px 0;
  }
}
@media(max-width: 475px) {
  .toc {
    padding: 20px 8px;
  }
  .toc-title {
    font-size: 15px;
  }
  .projTitle {
    font-size: 21px;
  }
  .projectContainer {
    padding: 9px 25px;
  }
  .me {
    font-size: 3em;
  }
  .presentationContainer {
    padding: 30px;
  }
  .resumeContainer {
    padding: 20px;
  }
}
