[submodule "presentations/foss4g2014"]
	path = presentations/foss4g2014
	url = https://github.com/jczaplew/foss4g2014.git
[submodule "presentations/mapshop2014"]
	path = presentations/mapshop2014
	url = https://github.com/jczaplew/mapshop.git
[submodule "leaflet-randomtilelayer"]
	path = leaflet-randomtilelayer
	url = https://github.com/jczaplew/leaflet-randomtilelayer.git
